#
# Uncomment the statement below if you want to make use of
# HTTP authentication and it does not already work.
# This could be required if you are for example using PHP via Apache CGI.
#
#<IfModule mod_rewrite.c>
#RewriteEngine on
#RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
#</IfModule>

<Files "config.php">
Order Allow,Deny
Deny from All
</Files>

<Files "common.php">
Order Allow,Deny
Deny from All
</Files>


# Copied from srweb
# Allows short URLs for accessing specific threads in the form forum/x-y
# where x is the forum number and y is the topic number
RewriteEngine On
RewriteBase /forum

RewriteCond %{REQUEST_FILENAME}  !-f
RewriteCond %{REQUEST_URI}       !^(/trac(.*))$
RewriteRule ^([0-9]+)-([0-9]+)$  viewtopic.php?f=$1&t=$2   [L,QSA]
RewriteRule ^([0-9]+)$           viewtopic.php?p=$1#p$1    [R,L,NE]
